[Unit]
Description=ZenCash node daemon installed on ~/secnodetracker/
Requires=zend.service
After=zend.service

[Service]
User={{ zen_daemon_user }}
Type=simple
WorkingDirectory=/home/{{ zen_daemon_user }}/secnodetracker/
ExecStart=/usr/local/bin/node /home/{{ zen_daemon_user }}/secnodetracker/app.js
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target